/* DEFAULT STYLE  ============================================== */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CUSTOM STYLE  ============================================== */

/* texts and fonts */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200i|Noto+Sans|Noto+Sans+TC|PT+Serif&display=swap');

/* containers */

body, html {
  height: 100%;
  margin: 0;
}

.container-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* container scroll-snapping */

.container-parent {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.container-child {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

/* text */
h1 {
  font-family: 'PT Serif', serif;
  font-size: 28px;
  color: #333333;
}

h1.footer {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 0px;
  color: #888888;
}

h2 {
  font-family: 'PT Serif', serif;
  font-size: 24px;
  color: #333333;
  line-height: 180%;
  margin-bottom: 1rem;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #888888;
  /* margin-bottom: 12px; */

}

h4 {
  font-size: 16px;
  color: #888888;
}

h5 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  color: #888888;
}

h6 {
  font-size: 12px;
  color: #888888;
}

p {
  font-family: 'PT Serif', serif;
  color: #888888;
}

p.footer {
  font-family: 'Noto Sans', sans-serif;
  font-size: 11px;
  margin-bottom: 0px;
  color: #888888;
}

p.quote {
  color: #333333;
  padding: 12px;
  margin: 0;
}

p.name {
  color: #888888;
  padding: 12px;
  margin: 0;
}

a {
  font-family: 'Noto Sans', sans-serif;
  color: #888888;
  text-decoration: none;
}

i.skill {
  color: #888888;
  font-size: 40px;
}

#test-bg {
  background-color: #ffffff90;
  padding: 12px;
}

/* section */

.section-quote {
  background-color: white;
  border-radius: 12px;
}

/* component - navbar */

.navbar {
  background-color: #ffffff99;
  transition: 0.3s;
}

@media screen and (max-width: 576px) {
  .navbar {
    background-color: #ffffff;
  }
  .navbar-toggler {
    background-color: #ffffff;
  }
}

.navbar:hover,
.navbar:focus,
.navbar:active {
  background-color: #ffffff;
}

.nav-link {
  color: #888888;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  margin: 0 10px;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: transparent;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #555555;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #555555;
}

/* component - footer */

footer {
  color: #888888;
  background-color: #333333;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

a.footer {
  color: #cccccc;
  /* color: #9cbd6f; */
}

a.footer:hover,
a.footer:focus,
a.footer:active {
  color: #ffffff;
}

/* background images */

.img-bg-main,
.img-bg-recent-work,
.img-bg-selected-work,
.img-bg-selected-work-more,
.img-bg-about,
.img-bg-contact {
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative
}

.img-bg-main {
  background-image: url("images/elena-joland-mjeQon0Mh_Q-unsplash.jpg");
}
.img-bg-recent-work {
  background-image: url("images/bench-accounting-xxeAftHHq6E-unsplash.jpg");
}
.img-bg-selected-work {
  background-image: url("images/philipp-berndt-5i0GnoTTjSE-unsplash.jpg");
}
.img-bg-selected-work-more {
  background-image: url("images/bench-accounting-nvzvOPQW0gc-unsplash.jpg");
}
.img-bg-about {
  background-image: url("images/scott-webb-zblX5hM9rp8-unsplash.jpg");
}
.img-bg-contact {
  background-image: url("images/samantha-gades-BlIhVfXbi9s-unsplash.jpg");
}

/* opacity adjustment */

.img-bg-main::before,
.img-bg-recent-work::before,
.img-bg-selected-work::before,
.img-bg-selected-work-more::before,
.img-bg-about::before,
.img-bg-contact::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #ffffff80;
}

#img-profile {
  border-radius: 50%;
  border-style: solid;
  border-width: 6px;
  border-color: #ffffff;
  max-width: 200px;
}

/* component - card */

.card {
  border-color: #cccccc;
}

.card-title {
  font-family: 'PT Serif', serif;
  color: #333333;
}

.card-text {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

.card-img {
  height: 25vh;
  object-fit: cover;
}

/* .card-img-overlay {
  padding: 40px;
} */

.card-test {
  background-color: #ffffff99;
  border: 1px solid #cccccc;
  padding: 10px;
}

/* component - buttons */

.btn {
  border: 1px solid #9cbd6f;
  color: #9cbd6f;
  font-size: 12px;
  background-color: #ffffff;
  margin: 4px;
}

#btn-div-test {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
}

#btn-test {
  color: #888888;
  border-style: solid;
  border-width: 1px;
  border-color: #888888;
  padding: 12px;
  margin-bottom: 7rem;
  transition: 0.3s;
}

#btn-test:hover,
#btn-test:focus,
#btn-test:active {
  background-color: #ffffff;
}

/* OnLoad Animation */

@keyframes fadeIn { 
  0% { opacity: 0; } 
  50% { opacity: 0; } 
  100% { opacity: 1; } 
} 

@keyframes scaleIn {
  100% { transform: scaleX(1); }
}

@keyframes slideIn {
  100% { transform: translateY(0); }
}

.container-parent { 
  animation: fadeIn ease 3s forwards; 
} 

.navbar-toggler {
  animation: fadeIn ease 3s forwards; 
}

nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #9cbd6f;
  transform: scaleX(0);
}

/* Animations for just the homepage */

.navbar-brand.custom-animation{
  animation: fadeIn ease 2.5s forwards; 
}

.container-parent.custom-animation { 
  animation: fadeIn ease 3s forwards;
} 

.collapse.custom-animation > * {
  transform: translateY(-50px);
  animation: slideIn 1s ease-in 1s forwards;
}

nav.custom-animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #9cbd6f;
  transform: scaleX(0);
}

nav.custom-animation::after {
  animation: scaleIn 1.3s ease-in 0.2s forwards;
}