/* DEFAULT STYLE  ============================================== */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* CUSTOM STYLE  ============================================== */

/* texts and fonts */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200i|Noto+Sans|Noto+Sans+TC|PT+Serif&display=swap');

/* containers */

body, html {
  height: 100%;
  color: #000000;
}

.container-parent {
  height: 100%;
}

#main {
  height: 100vh;
}

#work,
#other,
#about,
#contact {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

#work-a,
#work-b,
#work-c,
#work-d,
#work-e {
  padding: 4rem;
  margin-bottom: 1rem;
}

#work-a {
  background-color: #cccccc;
}

#work-b {
  background-color: #aaaaaa;
}

#work-c {
  background-color: #cccccc;
}

#work-d {
  background-color: #aaaaaa;
}

/* text */

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 28px;
}

h1.intro {
  font-family: 'PT Serif', serif;
  font-size: 68px;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1.main {
  font-weight: bold;
  font-size: 120px;
}

h1.contact {
  font-weight: bold;
  font-size: 56px;
}

h1.footer {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 0px;
}

h2 {
  font-family: 'PT Serif', serif;
  font-size: 24px;
  margin-bottom: 16px;
}

h2.main {
  color: #ffffff;
  font-size: 48px;
}

h2.about {
  text-indent: 5%;
}

h2.description {
  font-size: 18px;
  margin-bottom: 6px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #888888;
}

h3.skill {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px; 
  font-weight: normal;
  color: #555555;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}

h4 {
  font-size: 16px;
  color: #888888;
}

h5 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  color: #888888;
}

h6 {
  font-size: 12px;
  color: #888888;
}

p {
  font-family: 'PT Serif', serif;
}

p.intro {
  font-size: 20px;
  line-height: 1.6;
}

p.footer {
  font-family: 'Noto Sans', sans-serif;
  font-size: 11px;
  margin-bottom: 0px;
}

p.about {
  color: #333333;
  text-indent: 5%;
  margin-top: 8px;
}

p.skill {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px; 
  color: #555555;
  margin-bottom: 10px;
  text-align: center;
}

p.contact {
  color: #333333;
}

p.quote {
  color: #555555;
  padding: 12px;
  margin: 0;
}

p.name {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  color: #888888;
  padding: 12px;
  margin: 0;
}

p.caption {
  font-size: 12px;
  color: #888888;
  margin-top: 4px;
  text-align: center;
}

p.caption-drawing {
  font-size: 12px;
  color: #888888;
  text-align: center;
  margin-bottom: 2px;
}

p.status {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  color: #888888;
  margin-bottom: 6px;
}

ul {
  padding: 0 0 0 16px;
}

li {
  font-family: 'PT Serif', serif;
  color: #555555;
}

ul.detail > li {
  margin-bottom: 4px;
}

a {
  font-family: 'Noto Sans', sans-serif;
  color: #888888;
  text-decoration: none;
}

i.skill {
  color: #888888;
  font-size: 34px;
}

.quote > i {
  color: #cccccc;
}

.hr-custom {
  border-top: 1px solid #bbbbbb;
  width: 30px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px ;
  }
  p.detail {
    font-size: 13px;
  }
  p.about {
    font-size: 13px;
  }
  p.caption {
    margin-bottom: 6px;
  }
  ul.detail > li {
    font-size: 12px;
  }
  i.skill {
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  p.detail {
    font-size: 14px;
  }
  ul.detail > li {
    font-size: 13px;
  }
}

/* text-div */

.section-about {
  background-color: #ffffff99;
  border-radius: 6px;
  border: 1px solid #cccccc;
  margin-bottom: 12px;
  padding: 12px 20px;
  min-height: 240px;
}

.section-quote {
  background-color: #ffffff99;
  border-radius: 12px;
}

/* component - navbar */

.navbar {
  background-color: #ffffff;
  padding-left: 10vw;
  padding-right: 10vw;
}

.navbar-brand {
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navbar-toggler {
    background-color: #ffffff;
    border-color: #ffffff;
  }
  .navbar-brand > img {
    width: 30px;
    height: 30px;
  }
}

.navbar-nav .nav-link {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  padding: 3px 0 0px 0;
  margin: 0 10px;
  border-width: 3px;
  border-bottom-style: solid;
  border-color: #ffffff;
}

.nav-link-active,
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #000000;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #000000;
}

/* component - carousel */

.carousel-control-next,
.carousel-control-prev {
  filter: invert(50%);
}

.carousel-item {
  padding: 20px;
}

img.d-block {
  max-height: 294px;
  object-fit: contain;
}

img#drawing {
  max-height: 40vh;
  object-fit: contain;
}

img.frame {
  /* border: 1px solid #cccccc; */
  filter: 
    drop-shadow(0 1px 0 #cccccc)
    drop-shadow(0 -1px 0 #cccccc)
    drop-shadow(-1px 0 0 #cccccc)
    drop-shadow(1px 0 0 #cccccc)
}

#carousel-recommendations .carousel-inner {
  width: 45vw;
}

.carousel-detail .carousel-inner {
  height: 50vh;
  background-color: white;
  position: relative;
}

.carousel-detail .carousel-indicators {
  position: absolute;
  bottom: 0;
  transform: translateY(8vh);
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 0;
  filter: invert(50%);
  padding: 3px;
}

.carousel-detail .carousel-indicators li {
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  height: 4px;
}

.carousel-detail .carousel-control-prev,
.carousel-detail .carousel-control-next {
  top: auto;
  width: 5%;
  height: 36px;
  transform: translateY(8vh);
}

.carousel-detail .carousel-control-prev {
  margin-left: 30%;
}
.carousel-detail .carousel-control-next {
  margin-right: 30%;
}

@media screen and (max-width: 576px) {
  #carousel-recommendations .carousel-inner {
    width: 70vw;
  }
  .carousel-detail .carousel-indicators {
    margin-left: 30%;
    margin-right: 30%;
  }
  .carousel-detail .carousel-control-prev {
    width: 15%;
    margin-left: 15%;
  }
  .carousel-detail .carousel-control-next {
    width: 15%;
    margin-right: 15%;
  }
  .carousel-detail .carousel-inner {
    height: 60vh;
  }
}

@media screen and (max-width: 768px) {
  img.d-block {
    max-height: 20vh;
    object-fit: contain;
  }
}

/* component - footer */

footer {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

/* images */

/* component - card */

.card {
  border-color: #cccccc;
}

.card-title {
  font-family: 'PT Serif', serif;
  color: #333333;
  margin-bottom: 8px;
}

h3.card-title {
  color: #333333;
  /* -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #333333;
  -webkit-text-fill-color: #cccccc; */
}

.card-img {
  height: 30vh;
  object-fit: cover;
}

.card-overlay {
  background-color: #ffffff99;
  border: 1px solid #cccccc;
  padding: 10px;
  width: 100%;
  max-width: 280px;
}

@media screen and (max-width: 576px) {
  .card-img {
    height: 15vh;
  }
  .div-card {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 576px) {
  .card-overlay {
    min-height: 122px;
  }
}

/* component - buttons */

.btn {
  color: #5e8642;
  border: 1px solid #5e8642;
  font-size: 12px;
  background-color: #ffffff;
  margin: 4px;
  text-decoration: none;
}

.btn.contact {
  font-size: 14px;
  padding: 6px 14px;
  margin: 4px 8px;
}

.btn.detail {
  width: 100px;
}

.btn.description {
  color: #888888;
  border: 1px solid #cccccc;
  width: 160px;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: #ffffff;
  border-color: #5e8642;
  background-color: #9cbd6f;
}

#btn-div-main {
  text-align: center;
  margin-top: 5vh;
}

#btn-main {
  color: #5e8642;
  border: 1px solid #5e8642;
  background-color: #ffffff;
  padding: 12px;
  transition: 0.3s;
}

#btn-main:hover,
#btn-main:focus,
#btn-main:active {
  color: #ffffff;
  border-color: #5e8642;
  background-color: #9cbd6f;
  text-decoration: none;
}

#btn-div-more {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
}

#btn-more {
  color: #888888;
  border: 1px solid #ffffff00;
  border-bottom: 1px solid #888888;
  border-radius: 0;
  background-color: #ffffff00;
  font-size: 16px;
  padding: 6px;
  margin-bottom: 3rem;
  transition: 0.3s;
}

#btn-more:hover,
#btn-more:focus,
#btn-more:active {
  color: #333333;
  border-bottom: 1px solid #ffffff99;
  background-color: #ffffff99;
}


/* ANIMATION  ============================================== */

/* container scroll-snapping */

html, body {
  scroll-behavior: smooth;
}

/* OnLoad Animation */

@keyframes fadeIn { 
  0% { opacity: 0; } 
  50% { opacity: 0; } 
  100% { opacity: 1; } 
} 

@keyframes scaleIn {
  100% { transform: scaleX(1); }
}

/* .container-parent { 
  animation: fadeIn ease 2s forwards; 
} 

.container-parent.custom-animation { 
  animation: fadeIn ease 2s forwards;
} 

nav.custom-animation::after {
  transform: scaleX(0);
  animation: scaleIn 1.3s ease-in 0.2s forwards;
} */

/* Page Animation - Detail*/

.container-parent.detail { 
  animation: fadeIn ease 1.5s forwards; 
} 

#div-skill > div {
  padding: 0 6px
}

/* Page Animation - Not Found */

.container-parent.not-found { 
  animation: fadeIn ease 1.5s forwards; 
} 

/* TEST ZONE */

a.test {
  display: inline-flex;
  padding: 1rem;
}